5xn
5xn_count4
6xn
6xn_poly
partition_count4
partition_poly
partition_poly_7
partition_poly_8
partition_poly_8_pgo
pairmask_transfer_probe
partition_poly_profile
partition_poly_7_profile
partition_poly_8_profile
*.o
__pycache__/
*.pyc
/build/
coordinator/
gcloud/
aws/
patch
gmon.out
.partition_poly_8_pgo/
small_graph_lookup_gen
small_graph_lookup_n7.bin
connected_canon_lookup_n9.bin
twocolour_gpu_*.bin
.rect8x8-production-checkpoint.json*
/code-dump.txt
/behavioral_distribution_8x8_census
/binary_orbit_augment
/binary_orbit_augment_6x9
/binary_orbit_augment_7x8
/binary_orbit_augment_7x9
/binary_orbit_augment_8x8
/binary_orbit_burnside_probe
/canonical_query_circuit_probe
/column_split_8x8_oracle
/column_split_8x8_selector
/column_split_8x8_transform
/gpu_result_checkpoint_test
/pair_projection_8x8_census
/prefix_bmma_cost_census
/prefix_bmma_portfolio_8x8_oracle
/prefix_bucket_tt_rank_census
/prefix_hierarchy_8x8_census
/prefix_portfolio_8x8_oracle
/token_plane_quotient_probe
/twocolour_4x4_probe
/six_by_thirty_hafnian
/six_by_thirty_matching_probe
/six_by_twenty_nine_hafnian_cpu
